@namespace Cinema.BlazorUI.Layout

<div class="layout-footer">
  <div class="layout-footer-container">
    <div class="links">
      <ul class="">
        <li class="list-unstyled">
          <img src="images/layout/instagram.svg" alt="">
        </li>
        <li class="list-unstyled">
          <img src="images/layout/twitter.svg" alt="">
        </li>
        <li class="list-unstyled">
          <img src="images/layout/facebook.svg" alt="">
        </li>
        <li class="list-unstyled">
          <img src="images/layout/telegram.svg" alt="">
        </li>
      </ul>
    </div>

    <div class="pages">
      <ul class="pages-list ">
        <li class="">
          <NavLink href="" class="text-decoration-none">Home</NavLink>
        </li>
        <li class="">
          <NavLink href="" class="text-decoration-none">Jobs</NavLink>
        </li>
        <li class="">
          <NavLink href="" class="text-decoration-none">Info</NavLink>
        </li>
        <li class="">
          <NavLink href="" class="text-decoration-none">Support</NavLink>
        </li>
        <li class="">
          <NavLink href="" class="text-decoration-none">Contact us</NavLink>
        </li>
        <li class="">
          <NavLink href="" class="text-decoration-none">FAQ</NavLink>
        </li>
        <li class="">
          <NavLink href="" class="text-decoration-none">Account</NavLink>
        </li>
        <li class="">
          <NavLink href="" class="text-decoration-none">Help center</NavLink>
        </li>
      </ul>
    </div>

    <div class="data w-100 d-flex flex-row justify-content-between align-items-center">
      <div class="language">

      </div>

      <div class="info w-auto h-100 d-flex flex-row justify-content-end align-items-center gap-2">
        <span class="logo">
          PlayOn
        </span>

        <span class="city">
          Kyiv
        </span>
      </div>
    </div>
  </div>
</div>