@page "/profile"
@using Cinema.UI.Model
@using Cinema.UI.Services
@inject IAccountManagement Acct
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Profile</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            @* <h3>Profile Information</h3>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@user.Email</h5>
                    <div class="mt-3">
                        <h6>Claims:</h6>
                        <ul class="list-group">
                            @foreach (var claim in user.Claims)
                            {
                                <li class="list-group-item">
                                    <strong>@claim.Key:</strong> @claim.Value
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div> *@

            <div class="profile">
              <div class="profile-container" style="background-image: url('../../images/profile/bg.png');">
                <div class="profile-container-header">
                  <div class="profile-container-header-about">
                    <div class="profile-container-header-about-name">@user.Name</div>
                    <div class="profile-container-header-about-phone">+@FormatPhoneNumber(user.Phone)</div>
                  </div>
                  <div class="profile-container-header-new">
                    <img src="images/profile/newMovie.png" alt="">
                  </div>
                </div>
                <div class="profile-container-body">
                  <div class="profile-container-body-row">
                    <NavLink href="subscription" class="profile-container-body-row-item">
                      <div class="profile-container-body-row-item-icon">
                        <img class="w-100 h-100" src="images/profile/subscription.svg" alt="">
                      </div>
                      <div class="profile-container-body-row-item-title">Tickets management</div>
                    </NavLink>
                    <NavLink href="notice" class="profile-container-body-row-item">
                      <div class="profile-container-body-row-item-icon">
                        <img class="w-100 h-100" src="images/profile/notice.svg" alt="">
                      </div>
                      <div class="profile-container-body-row-item-title">Notice</div>
                    </NavLink>
                    <NavLink href="like" class="profile-container-body-row-item">
                      <div class="profile-container-body-row-item-icon">
                        <img class="w-100 h-100" src="images/profile/like.svg" alt="">
                      </div>
                      <div class="profile-container-body-row-item-title">Like</div>
                    </NavLink>
                    <NavLink href="watched" class="profile-container-body-row-item">
                      <div class="profile-container-body-row-item-icon">
                        <img class="w-100 h-100" src="images/profile/watched.svg" alt="">
                      </div>
                      <div class="profile-container-body-row-item-title">Already watched</div>
                    </NavLink>
                  </div>
                  <div class="profile-container-body-row">
                    <NavLink href="settings" class="profile-container-body-row-item">
                      <div class="profile-container-body-row-item-icon">
                        <img class="w-100 h-100" src="images/profile/settings.svg" alt="">
                      </div>
                      <div class="profile-container-body-row-item-title">Settings</div>
                    </NavLink>
                    <NavLink href="help" class="profile-container-body-row-item">
                      <div class="profile-container-body-row-item-icon">
                        <img class="w-100 h-100" src="images/profile/headphones.svg" alt="">
                      </div>
                      <div class="profile-container-body-row-item-title">Help</div>
                    </NavLink>
                    @if (user.Claims.ContainsKey("Role") && user.Claims["Role"] == "Admin") {
                      <NavLink href="admin" class="profile-container-body-row-item">
                        <div class="profile-container-body-row-item-icon">
                          <img class="w-100 h-100" src="images/profile/admin.svg" alt="">
                        </div>
                        <div class="profile-container-body-row-item-title">Admin</div>
                      </NavLink>
                    }
                  </div>
                </div>
                <div class="profile-container-footer">
                  <NavLink href="logout" class="profile-container-footer-logout">
                    <span>Leave profile</span>
                  </NavLink>
                </div>
              </div>

              <div class="profile-bg-main">
                <div class="profile-bg-main-elipse"></div>
                <div class="profile-bg-main-elipse"></div>
              </div>
              <div class="profile-bg-secondary">
                <div class="profile-bg-secondary-elipse"></div>
                <div class="profile-bg-secondary-elipse"></div>
              </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="alert alert-warning">
                Please log in to view your profile.
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<script>
  function formatPhoneNumber(phoneNumber) {
    return phoneNumber.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
  }
</script>

@code {
    private UserInfo user;

    protected override void OnInitialized()
    {
        user = Acct.GetUserInfo();
    }

    public string FormatPhoneNumber(string phoneNumber)
    {
        return String.Format("{0:(###) ###-####}", Convert.ToInt64(phoneNumber));
    }
}